<div class="card" *ngIf="product" (click)="onSelect(product)" >
  <em>{{product.group_type}}</em>
  <hr>
  <img src="{{product.Pictures}}" alt="{{product.alt}}" style="object-fit: contain;">
  <em>{{product.info}}</em>
  <hr>
  <ul>
    <li *ngFor="let Pictograms of product.pictograms" class="list_in_line"><img class="pictograms" src="{{Pictograms.url}}" alt="{{Pictograms.tooltip}}" title="{{Pictograms.tooltip}}"></li>
  </ul>
  <div class="box_title">
      <p>{{product.title}}</p>
  </div>
</div>

<app-product-view [product]="selectedProduct"></app-product-view>
