<div class="row">
  <div class="column-left">
    <div class="ins-title">
      <h1>Find arrangements for yourself </h1>
    </div>
    <div class="in-left">
      <img src="https://www.paradyz.com/sites/default/files/styles/880x700/public/2019-07/aranzacja-jasnej-lazienki-linum-ceramika-paradyz.jpg.jpg?itok=uJRWWJ9w" width="98%" alt="">
      <br>
      <hr>
      <h4>Inspirtation Title</h4>
      <p>Some wording</p>
      <hr>
    </div>


  </div>
  <div class="column-right">
    <div class="in-Right-top">
      <img src="https://www.paradyz.com/sites/default/files/styles/880x700/public/2019-07/aranzacja-jasnej-lazienki-linum-ceramika-paradyz.jpg.jpg?itok=uJRWWJ9w" width="98%" alt="">
      <br>
      <hr>
      <h4>Inspirtation Title</h4>
      <p>Some wording</p>
      <hr>
    </div>
    <div class="in-Right-bottom">
      <img src="https://www.paradyz.com/sites/default/files/styles/880x700/public/2019-07/aranzacja-jasnej-lazienki-linum-ceramika-paradyz.jpg.jpg?itok=uJRWWJ9w" width="98%" alt="">
      <br>
      <hr>
      <h4>Inspirtation Title</h4>
      <p>Some wording</p>
      <hr>
    </div>

  </div>
</div>
<div class="view-more">
  <button type="button" class="btn btn-outline-secondary">See More</button>
</div>
