<br>
<br>
<div class="group-search center">
  <button type="button" class="btn btn-outline-info mr-1">Bathroom</button>
  <button type="button" class="btn btn-outline-info mr-1">Kitchen</button>
  <button type="button" class="btn btn-outline-info mr-1">Living Room</button>
  <button type="button" class="btn btn-outline-info mr-1">Mosaics</button>
  <button type="button" class="btn btn-outline-info mr-1">Terrace and balcony</button>
  <button type="button" class="btn btn-outline-info mr-1">Hall</button>
  <button type="button" class="btn btn-outline-info mr-1">Clinker</button>
</div>
<br>
